/* 배경화면 */
body{
    background-image: url("/resources/images/winter.jpg");
    background-repeat: no-repeat;
    background-size : cover;
}

main{
    width: 1200px;
    height: 900px;
    margin: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 500px;
}

/* 오시는 길 아이콘 */
.come-on-area{
    position: relative;
    top: 50px;
    left: 67px;

    text-decoration: none;
    color: black;
}

/* 로고 영역 */
.logo-area{
    font-size: 30px;
}

/* 로그인 부분 */
#loginFrm{
    width: 420px;
    height: 180px;
    padding : 10px;
    margin-top : 10px;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

/* id/pw 부분 */
.id-pw-area{
    display: flex;

    border: 0;
    flex-basis: 60%;
}

/* 아이디 입력부분 */
.id-pw-area > section:first-child{
    width: 70%;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
}

.id-pw-area > section:first-child > input{
    border : 0;
    /* border-right : 1px solid #ccc; */
    flex-basis: 50%;
    outline: none;
    padding: 5px;
}

.id-pw-area > section:first-child > input[name='userId']{
    border-bottom: 1px solid #ccc;
}

/* input 포커스 */
.id-pw-area > section:first-child > input:focus{
    border: 2px solid crimson;
}

/* 로그인 버튼 영역 */
.id-pw-area > section:last-child{
    width: 30%;
    
    display: flex;
    justify-content: center;
}

/* 로그인 버튼 */
.id-pw-area > section:last-child > button{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border : 1px solid #ccc;
}

/* 로그인 버튼 호버 */
.id-pw-area > section:last-child > button:hover{
    background-color: crimson;
    color: white;
}

/* 아이디 저장 */
.saveId-area{
    /* border-bottom: 2px solid #ccc; */
    display: flex;
    align-items: center;
}     

.saveId-area > input{
    display: none;
}

#saveId+label{
    margin-left: 15px;
    display: flex;
    cursor: pointer;
}

#saveId+label > i{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    color : #ccc;
    font-size: 1.05em;
}

.saveId-area > input:checked + label > i{
    background-color: crimson;
    color: white;
}

/* id/pw찾기/회원가입 영역 */
.text-area {
    margin-top: 10px;
    text-align: center;
}
.text-area a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 0 5px;
}

/* 모달 영역 */
.modal{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    
    background-color: rgba(0,0,0,0.4);
}

.modal_body{
    position:absolute;
    
    /* 모달을 화면가운데 놓기위함. */
    top:50%;  

    /* 모달의 가로크기  */
    width:400px;  
    /* 모달의 세로크기  */
    height:400px; 

    padding:40px;  

    text-align: center;

    /* 모달창 배경색 흰색 */
    background-color: rgb(255,255,255); 

    /* 테두리  */
    border-radius:10px;

    /* 테두리 그림자 */
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    
    /* 모듈창열었을때 위치설정 가운데로  */
    transform:translateY(-50%); 
}

/* 모달 input태그 */
.modal_body > input{
    width: 300px;
    height: 30px;
    margin: 15px;
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.modal_body > input:focus{
    border: 2px solid crimson;
}

/* 모달 찾기 버튼 */
.btn{
    width: 300px;
    height: 50px;

    position: absolute;
    top: 80%;
    left: 85px;

    border : 1px solid crimson;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: crimson;
    color: white;
}


/* x버튼 */
.close-area {
    display: inline;
    float: right;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

/* 로딩 스피너 */
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-top: 4px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
    display: none;
}