/* 웹폰트 호출 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&display=swap');
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* 카리나 */
    /* background-image: url('https://e1.pxfuel.com/desktop-wallpaper/761/590/desktop-wallpaper-aespa-pics-on-twitter-karina-aespa.jpg'); */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3NAdiRs4Cn_KY6qQzcFT1D-svd39VGBJhAA&usqp=CAU'); */
    /* background-image: url('https://i.pinimg.com/originals/db/f2/6a/dbf26a2351f0a58c63644da1d303896d.jpg'); */
    /* background-size: 20% 100%; */
    /* background-size: 100% 100%; */
}

/* 영역확인용 */
/* div, main, section, header, footer, article, nav, aside, form, a, p
{ border : 1px solid gray; } */

main{
    min-width: 1200px;
    max-width: 1400px;
    margin : 0 auto;

    min-height: 500px;
}

/* --------------------- 헤더부분 시작 --------------------- */
/* header */
header{
    width: 100%;
    height: 230px;
    display: flex;
}

/* 모든 a태그 */
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* 네비게이션 전체 영역 */
.headerAll{
    width: 100%;
}

/* 첫번째줄 네비게이션 */
.navigation1{
    width: 100%;
    height: 35px;
    display: flex;
    /* background-color: gray; */
    color: black;
    font-size: 12px;
}

/* 오시는길, 공지사항, 학사일정, 1:1문의, 자유게시판 영역 */
.navigation1-row1{
    width: 80%;
    display: flex;
    align-items: center;
}
.navigation1-row1 > a:hover{
    text-decoration: underline;
    color: crimson;
}

/* .navigation1-row1영역 속 a태그 */
.navigation1-row1 > a{
    width: 100px;
    text-align: center;
    font-weight: bold;
    color: black;
}

/* 비로그인 회원가입, 로그인 영역 */
.navigation1-row2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 교수 로그인시 */
.navigation1-row2-professor{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
/* 교수이름영역 */
.navigation1-row2-professor > :nth-child(1){
    width: 250px;
    font-size: 16px;
}
/* 교수이름 */
.navigation1-row2-professor > :nth-child(1) > :nth-child(1){
    font-size: 17px;
    font-weight: bold;
}

.quickMenu > div > a{
    color: black;
}
#quickMenu:hover{
    font-weight: bold;
}

/* 간편메뉴영역 */
.navigation1-row2-professor > :nth-child(2){
    width: 100px;
}

/* 간편메뉴 버튼모음 */
.navigation1-row2-professor > :nth-child(2) > div{
    width: 100px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-left: 50px; */

    color: black;
    font-weight: bold;
    border: 0;
}
/* 간편메뉴 버튼 */
.navigation1-row2-professor > :nth-child(2) > :nth-child(1){
    cursor: pointer;
    display: flex;
    width: 150px;
}
/* 내 정보 조회 버튼 */
.navigation1-row2-professor > :nth-child(2) > :nth-child(2){
    margin-top: 60px;
    display: none;
    cursor: pointer;
}
/* 비밀번호변경 버튼 */
.navigation1-row2-professor > :nth-child(2) > :nth-child(3){
    display: none;
}
/* 닫기 */
.navigation1-row2-professor > :nth-child(2) > :nth-child(4){
    display: none;
    cursor: pointer;
}

/* 회원가입, 로그인 영역 속 1번째 button태그 */
.navigation1-row2 > :nth-child(1){
    width: 150px;
    height: 25px;
    margin-right: 10px;
    
    background-color: whitesmoke;
    font-weight: bold;
    border: 0;
    border-radius: 7px;
}
/* 회원가입, 로그인 영역 속 2번째 button태그 */
.navigation1-row2 > :nth-child(2){
    width: 150px;
    height: 25px;
    margin-left: 10px;
    
    background-color: whitesmoke;
    font-weight: bold;
    border: 0;
    border-radius: 7px;
}
/* 회원가입, 로그인 영역 속 1번째 button태그 속 a태그 */
.navigation1-row2 > :nth-child(1) > a{
    color: black;
}
/* 회원가입, 로그인 영역 속 2번째 button태그 속 a태그 */
.navigation1-row2 > :nth-child(2) > a{
    color: black;
}

/* 두번째줄 네비게이션 */
.navigation2{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    /* border-radius: 0 0 10px 10px; */
    border-bottom: 1px solid crimson;
    border-top: 1px solid crimson;
}

/* 로고영역 */
.logoArea{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
}
/* 로고 a태그 */
.logoText{
    width: 300px;
    text-align: center;
    font-size: 15px;
    color: black;
}
/* 로고 첫번째 줄 */
.logoText > :nth-child(1){
    font-size: 30px;
    font-weight: bolder;
    color: crimson;
}
/* 로고 두번째 줄 */
.logoText > :nth-child(2){
    margin: 5px 0;
    color: black;
}
.logoText > :nth-child(3){
    color: crimson;
    font-weight: bold;
}

/* 홈있는 네비게이션 영역 */
.navigation2-row2{
    margin-left: 50px;
    font-size: 20px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.navigation2-row2 > a{
    color: black;
}
.navigation2-row2 > a:hover{
    color: crimson;
    font-size: 1.0em;
}


/* 세번째줄 네비게이션바 */
.navigation3{
    width: 1400px;
    height: 45px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* --------------------- 헤더부분 끝 --------------------- */


/* -------------------- 슬라이드 이미지 영역 시작 -------------------- */
.side-image-area{
    width: 1400px;
    height: 180px;
    display: flex;
    margin: auto 0;
    margin-top: -45px;
    margin-bottom: 70px;
}
/* 이미지 크기 */
.slideshow-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: 1400px;
    height: 180px;
    border-radius: 10px;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
.mySlides {
animation-name: fade;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}

/* -------------------- 슬라이드 이미지 영역 시작 끝 -------------------- */



/* --------------------- 메인부분 --------------------- */
.mainContainer{
    width: 1400px;
    min-height: 554px;
    max-height: 3000px;
    margin-top: -65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 0;
    margin-top: -90px;
}

/* 로그인 했을 경우 노출 영역 */
.loginMember-Info-Area{
    border-left: 1px solid crimson ;
    border-right: 1px solid crimson ;
    min-width: 300px;
    height: 350px;
    margin-right: 50px;
    padding: 20px;
}
.loginMember-Info-Area > :nth-child(1){
    height: 100px;
    margin-top: -15px;
}

/* 로그인 시 프로필 이미지 */
#profileImg{
    border: 1px solid crimson;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

/* 로그인 시 정보 영역 */
.info-area{
    margin: 15px 0;
}
.info-area > :nth-child(1){
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}
.info-area > :nth-child(2){
    font-weight: bold;
    margin-bottom: 10px;
}
.info-area > :nth-child(3){
    font-weight: bold;
    margin-bottom: 40px;
}

/* 로그아웃 */
.logoutBtn{
    margin-bottom: 45px;
    font-size: 1.1em;
}
.logoutBtn > :nth-child(1){
    width: 130px;
    height: 40px;
    font-size: 1.0em;
    font-weight: bold;
    cursor: pointer;
}
.logoutBtn > :nth-child(1):hover{
    transition-duration: 0.35s;
    color: crimson;
    text-decoration: underline;
}
.recode-area{
    font-weight: bold;
}

.boardImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}
.boardImg > :nth-child(n){
    width: 150px;
    height: 40px;
    /* border: 1px solid #ddd; */
    border-radius: 7px;
}

/* 게시판 선택 버튼 영역 */
.button-area{
    /* width: 650px; */
    height: 50px;
    margin: auto 0;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 20px 20px;
    align-items: end;
}

/* 게시판 선택 버튼 각 영역 */
.button-area > a , .button-area > a > button{
    width: 175px;
    height: 35px;
    border: 1px solid crimson;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.button-area > a > button:hover{
    transition-duration: 0.5s;
    background-color: crimson;
    color: white;
}
.button-area > a > button:hover{
    color: white;
}

/* 공지사항 */
.board5{
    height: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.board5 > :nth-child(1){
    width: 150px;
    height: 80px;
    margin-top: 15px;
}
.board5 > a > img{
    width: 150px;
    height: 55px;
    margin-top: 15px;
}

#boardLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* 게시판 정보 전체 영역 */
.border-area{
    min-width: 1050px;
    width: 1400px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

/* 게시판 정보 영역 */
.border-view{
    display: flex;
    margin: auto 0;
    padding: 0 20px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid crimson;
}

/* 게시판 정보에 각 게시글 영역 */
.border-view-select{
    width: 160px;
    height: 120px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 게시글 제목 영역 */
.border-title{
    width: 150px;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    font-weight: bold;
}

/* 게시글 내용 영역 */
.border-content{
    border-top: 0.5px solid crimson;
    width: 150px;
    height: 95px;
    text-align: start;
    word-break: break-all;
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-size: 0.8em;

}

/* 게시판 정보 사진(썸네일) 영역 */
.border-view-select > img{
    width: 170px;
    height: 250px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}



/* 더보기 버튼 */
.moreBoard-area > button{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 5px;
    color: crimson;
    font-size: 1.2em;
    font-weight: bold;
}
.moreBoard-area > button:hover{
    color: white;
    background-color: crimson;
}
.moreBoard-area > button > a{
    margin-top: 2px;
    color: crimson;
}
.moreBoard-area > button > a:hover{
    color: white;
}


/* --------------------- 메인부분 끝 --------------------- */





/* --------------------- 푸터부분 --------------------- */
footer{
    height: 200px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border-radius: 10px 10px 0 0; */
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    margin-top: 20px;
}

footer > p{ 
    margin : 7px 0;
    color: black;
    font-size: 14px;
}

footer > article > *{
    font-size: 12px;
}

footer a{
    color: black;
    text-decoration: none;
}

footer span{
    padding : 0 10px;
}
/* --------------------- 푸터부분 끝 --------------------- */



.date{
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 0.9em;
}