<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adminmapper">

	<resultMap type="Member" id="member_rm">
   
      <!-- DB의 기본 키(복합키면 여러 개 작성) -->
      <id property="memberNo" column="MEMBER_NO" />

      <!-- DB의 일반 컬럼들 -->
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberAddr" column="MEMBER_ADDR" />
      <result property="memberEmail" column="MEMBER_EMAIL" />
      <result property="memberPhone" column="MEMBER_PHONE" />
      <result property="memberGen" column="MEMBER_GEN" />
      <result property="memberDate" column="MEMBER_DATE" />
      <result property="memberGrade" column="MEMBER_GRADE" />
      <result property="memberTerm" column="MEMBER_TERM" />
      <result property="memberStatus" column="MEMBER_STATUS" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberProfile" column="MEMBER_PROFILE" />
      <result property="memberSsn" column="MEMBER_SSN" />
      
	   	<result property="departmentNo" column="DEPARTMENT_NO" />
		<result property="departmentName" column="DEPARTMENT_NAME" />
		
		<result property="memberAge" column="MEMBER_AGE" />
		
		<result property="lecturePoint" column="LECTURE_POINT" />
		<result property="lectureCount" column="LECTURE_COUNT" />
		<result property="lectureGrade" column="LECTURE_GRADE" />
		<result property="lectureTerm" column="LECTURE_TERM" />
		
		<result property="classNo" column="CLASS_NO" />
		<result property="classNm" column="CLASS_NM" />
		<result property="classGrade" column="CLASS_GRADE" />
		<result property="classTerm" column="CLASS_TERM" />
		<result property="classPoint" column="CLASS_POINT" />
      
   </resultMap>
   
   <resultMap type="StudentList" id="student_rm">
   		<id property="memberNo" column="MEMBER_NO" />
   		
   		<result property="memberName" column="MEMBER_NAME"/>
   		<result property="memberGrade" column="MEMBER_GRADE"/>
   		<result property="memberTerm" column="MEMBER_TERM"/>
   		<result property="deptName" column="DEPARTMENT_NAME"/>
   		<result property="memberStatus" column="MEMBER_STATUS"/>
   		<result property="classPoint" column="CLASS_POINT"/>
   		<result property="requestType" column="REQUEST_TYPE"/>
   		<result property="requestReason" column="REQUEST_REASON"/>
   		
   		<!-- 학생 새부 정보 추가 -->
   		<result property="memberDate" column="MEMBER_DATE"/>
   		<result property="pay" column="PAY"/>
   		<result property="className" column="CLASS_NM"/>
   </resultMap>

<!--    <select id="selectList" resultMap="member_rm"> -->
<!--    	SELECT * FROM MEMBER -->
<!--    </select> -->
   
	<insert id="saveUniqueNo">
		INSERT INTO MEMBER (
		  MEMBER_NO,
		  MEMBER_NAME,
		  MEMBER_SSN,
		  DEPARTMENT_NO
		)
		VALUES (
		    #{memberNo}, #{memberName}, #{memberSsn} , #{department}
		)
	</insert>
	
	<!-- 학생 정보 조회 -->
	<select id="selectStudentList" resultMap="student_rm">
		<![CDATA[
			SELECT 
			    M.MEMBER_NO ,
			    MEMBER_NAME, 
			    MEMBER_GRADE, 
			    MEMBER_TERM,
			    DEPARTMENT_NAME, 
			    MEMBER_STATUS, 
			    NVL(SUM(CASE WHEN L.LECTURE_POINT >= 1 THEN CLASS_POINT ELSE 0 END), 0) AS CLASS_POINT,
			    CASE 
                    WHEN R.CONFIRM_NO IS NULL THEN R.REQUEST_TYPE
                    ELSE NULL
                END AS REQUEST_TYPE,
                CASE 
                    WHEN R.CONFIRM_NO IS NULL THEN R.REQUEST_REASON
                    ELSE NULL
                END AS REQUEST_REASON
			FROM 
			    MEMBER M, LECTURE L, CLASS C, DEPARTMENT D, REQUEST R
			WHERE 
			    L.MEMBER_NO(+) = M.MEMBER_NO
			    AND C.CLASS_NO(+) = L.CLASS_NO
			    AND M.DEPARTMENT_NO = D.DEPARTMENT_NO
			    AND M.MEMBER_NO = R.MEMBER_NO(+)
			    AND SUBSTR(M.MEMBER_NO, 1,2) = '01'
			    AND (CONFIRM_NO IS NULL 
			    OR (SELECT
			    		COUNT(*)
			    	FROM
			    		REQUEST
			    	WHERE
			    		MEMBER_NO = M.MEMBER_NO) = (SELECT
			    										COUNT(CONFIRM_NO)
			    									FROM
			    										REQUEST
			    									WHERE 
			    										MEMBER_NO = M.MEMBER_NO
			    										AND CONFIRM_NO IS NOT NULL))
			GROUP BY 
			    M.MEMBER_NO, 
			    MEMBER_NAME, 
			    MEMBER_GRADE, 
			    DEPARTMENT_NAME, 
			    MEMBER_STATUS, 
			    REQUEST_TYPE, 
			    REQUEST_REASON, 
			    MEMBER_TERM, 
			    CONFIRM_NO
		]]>
	</select>
	
	<!-- 학생 진급(학기+1) -->
	<update id="demotion">
		UPDATE MEMBER 
		SET 
		    MEMBER_GRADE = CASE 
		                      WHEN MEMBER_TERM = 2 THEN MEMBER_GRADE + 1 
		                      ELSE MEMBER_GRADE
		                  END,
		    MEMBER_TERM = CASE 
		                     WHEN MEMBER_TERM = 2 THEN 1 
		                     ELSE MEMBER_TERM + 1 
		                  END
		WHERE 
		    MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 학생 등록금 초기화(학년이 올라가면 등록금 테이블에 있던 정보 제거) -->
	<delete id="deletePay">
		DELETE FROM PAY WHERE MEMBER_NO = #{memberNo}
	</delete>
	  
	<!-- 4학년 2학기일때 진급 시 재적을 졸업으로 변경 -->
	<update id="graduation">
		UPDATE MEMBER SET MEMBER_STATUS = 'P'
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 학생 세부 조회 -->
	<select id="studentDetail" resultMap="student_rm">
		<![CDATA[
			SELECT 
			    DISTINCT M.MEMBER_NO, 
			    MEMBER_NAME, 
			    TO_CHAR(MEMBER_DATE, 'YYYY-MM-DD') AS MEMBER_DATE,
			    MEMBER_GRADE, 
			    MEMBER_TERM,
			    MEMBER_STATUS,
			    NVL(SUM(CASE WHEN L.LECTURE_POINT >= 1 THEN CLASS_POINT ELSE 0 END), 0) AS CLASS_POINT,
			    CASE 
			          WHEN (SELECT COUNT(*) FROM PAY WHERE MEMBER_NO = #{memberNo}) = 1 THEN '1'
			          ELSE '0'
			    END AS PAY,
			    REQUEST_TYPE,
			    REQUEST_REASON
			FROM
			    MEMBER M, LECTURE L, CLASS C, REQUEST R
			WHERE 
			    L.MEMBER_NO(+) = M.MEMBER_NO
			    AND C.CLASS_NO(+) = L.CLASS_NO
			    AND R.MEMBER_NO(+) = M.MEMBER_NO
			    AND M.MEMBER_NO = #{memberNo}
			    AND CONFIRM_NO IS NULL
			GROUP BY 
			    M.MEMBER_NO, 
			    MEMBER_NAME, 
			    MEMBER_DATE, 
			    MEMBER_GRADE, 
			    MEMBER_TERM,
			    MEMBER_STATUS,
			    REQUEST_TYPE,
			    REQUEST_REASON,
			    CONFIRM_NO
	    ]]>
	</select>
	
	<!-- 학생 세부 조회 - 수강 과목 조회 -->
	<select id="stuLecture" resultMap="student_rm">
		SELECT 
		    CLASS_NM,
		    CLASS_POINT,
		    (SELECT MEMBER_NAME 
		    FROM
		        CLASS CL, MEMBER MB
		    WHERE
		        CL.MEMBER_NO = MB.MEMBER_NO
		        AND MB.MEMBER_NO = C.MEMBER_NO
		    GROUP BY MEMBER_NAME) AS MEMBER_NAME
		FROM
		    LECTURE L, MEMBER M, CLASS C
		WHERE
		    L.MEMBER_NO = M.MEMBER_NO
		    AND L.CLASS_NO = C.CLASS_NO
		    AND L.MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 학생 재적 변경 -->
	<update id="studentUpdate">
		UPDATE MEMBER SET MEMBER_STATUS = #{memberStatus}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 재적 요청 변경 -->
	<update id="requestUpdate">
		UPDATE REQUEST SET CONFIRM_NO = 1
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	
	<!-- 모든 학생 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_STATUS = 'N'
		AND SUBSTR(MEMBER_NO, 1, 2) = '01'
	</select>
	
	
	<!-- 현재 수강중인 학생 성적 목록 가져오기 -->
	<select id="lectureList" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
	</select>
	
	
	<!-- 수강 = 1학년 1학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListOneAndOne" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 1
		AND L.LECTURE_TERM = 1
	</select>
	<!-- 수강 = 1학년 2학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListOneAndTwo" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 1
		AND L.LECTURE_TERM = 2
	</select>
	<!-- 수강 = 2학년 1학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListTwoAndOne" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 2
		AND L.LECTURE_TERM = 1
	</select>
	<!-- 수강 = 2학년 2학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListTwoAndTwo" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 2
		AND L.LECTURE_TERM = 2
	</select>
	<!-- 수강 = 3학년 1학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListThreeAndOne" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 3
		AND L.LECTURE_TERM = 1
	</select>
	<!-- 수강 = 3학년 2학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListThreeAndTwo" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 3
		AND L.LECTURE_TERM = 2
	</select>
	<!-- 수강 = 4학년 1학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListFourAndOne" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 4
		AND L.LECTURE_TERM = 1
	</select>
	<!-- 수강 = 4학년 2학기 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListFourAndTwo" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_GRADE = 4
		AND L.LECTURE_TERM = 2
	</select>
	<!-- 수강 = 성적 미부여 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListNoPoint" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND L.LECTURE_POINT = -1
	</select>
	<!-- 수강 = 휴학중인 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListStatusY" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
		AND M.MEMBER_STATUS = 'Y'
	</select>
	<!-- 수강 = 전체 학생 목록 성적 조회 비동기 AJAX -->
	<select id="memberListAll" resultMap="member_rm">
		SELECT M.MEMBER_NO, M.MEMBER_NAME, M.MEMBER_STATUS, M.MEMBER_GRADE, M.MEMBER_TERM, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, C.CLASS_NO, C.CLASS_NM, C.CLASS_GRADE, C.CLASS_TERM, C.CLASS_POINT, L.LECTURE_POINT, L.LECTURE_GRADE, L.LECTURE_TERM
		FROM MEMBER M
		JOIN DEPARTMENT D ON D.DEPARTMENT_NO = M.DEPARTMENT_NO
		JOIN "CLASS" C ON C.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN LECTURE L ON L.CLASS_NO = C.CLASS_NO
		WHERE M.MEMBER_NO LIKE '01-%'
		AND M.MEMBER_NO = L.MEMBER_NO
	</select>
	
</mapper>








