<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="collegianMapper">

	<resultMap type="Class" id="class_rm">

		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="classNo" column="CLASS_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="className" column="CLASS_NM" />
		<result property="classPoint" column="CLASS_POINT" />
		<result property="classMax" column="CLASS_MAX" />
		<result property="classGrade" column="CLASS_GRADE" />
		<result property="classTerm" column="CLASS_TERM" />
		<result property="classDay" column="CLASS_DAY" />
		<result property="classStart" column="CLASS_START" />
		<result property="classEnd" column="CLASS_END" />

		<result property="departmentNo" column="DEPARTMENT_NO" />
		<result property="departmentName" column="DEPARTMENT_NAME" />

		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		
		<result property="lectureFL" column="LECTURE_FL" />
		<result property="lectureCount" column="LECTURE_COUNT" />

		<result property="taskRoute" column="TASK_ROUTE" />
		<result property="taskDate" column="TASK_DATE" />
		<result property="taskNo" column="TASK_NO" />
		
		
		
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>

	</resultMap>
	
	<resultMap type="Task" id="Task_rm">
		<id property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRename" column="FILE_RENAME"/>
		<result property="fkindNo" column="FKIND_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="taskNo" column="TASK_NO"/>
	
	</resultMap>
	
	<resultMap type="Department" id="department_rm">
	
		<id property="departmentNo" column="DEPARTMENT_NO"/>
		<result property="departmentName"  column="DEPARTMENT_NAME"/>	
			
	</resultMap>
	
	<resultMap type="Lecture" id="lecture_rm">
		<id property="classNo" column="CLASS_NO" />
		<result property="classNm" column="CLASS_NM" />
		<result property="classPoint" column="CLASS_POINT" />
		<result property="classType" column="CLASS_TYPE" />
		
		<result property="lecturePoint" column="LECTURE_POINT" />
		<result property="lectureGrade" column="LECTURE_GRADE" />
		<result property="lectureTerm" column="LECTURE_TERM" />
		<result property="realPoint" column="REAL_POINT" />
		<result property="rateFlag" column="RATE_FL" />
		<result property="memberName" column="MEMBER_NAME" />
	
	</resultMap>
	
	<resultMap type="Request" id="request_rm">
		<id property="reqNo" column="REQUEST_NO" />
		<result property="reqType" column="REQUEST_TYPE" />
		<result property="reqReason" column="REQUEST_REASON" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="confirmNo" column="CONFIRM_NO" />
		<result property="reqState" column="REQUEST_ST" />
	</resultMap>
	

	<!-- 교과목 수 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM CLASS
		WHERE DEPARTMENT_NO = #{departmentNo}
		AND CLASS_GRADE = #{memberGrade}
		AND CLASS_TERM = #{memberTerm}
	</select>

	<!-- 교과목 조회 결과 -->
	<select id="selectClassList" resultMap="class_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM, CLASS_DAY,
		CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME
		FROM CLASS A
		JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CLASS_GRADE = #{memberGrade}
		AND CLASS_TERM =#{memberTerm}
		AND A.DEPARTMENT_NO = #{departmentNo}
	</select>

	<select id="getListCount_search" resultType="_int">
		SELECT COUNT(*) FROM CLASS

		WHERE CLASS_NM IS NOT NULL

		<choose>
			<when test='major != "0"'>
				AND DEPARTMENT_NO = #{major}
			</when>
		</choose>

		<if test='grade != "0"'>
			AND CLASS_GRADE = #{grade}
		</if>

		<if test='step != "0"'>
			AND CLASS_TERM = #{step}
		</if>

		<if test='type != "0"'>
			AND CLASS_POINT = #{type}
		</if>
		
		<if test='query != null'>
			AND CLASS_NM LIKE '%${query}%'
		</if>		

	</select>

	<select id="selectClassList_search" resultMap="class_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM,
		CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME
		FROM CLASS A
		JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CLASS_NM IS NOT NULL
		<choose>
			<when test='major != "0"'>
				AND A.DEPARTMENT_NO = #{major}
			</when>
		</choose>

		<if test='grade != "0"'>
			AND CLASS_GRADE = #{grade}
		</if>

		<if test='step != "0"'>
			AND CLASS_TERM = #{step}
		</if>

		<if test='type != "0"'>
			AND CLASS_POINT = #{type}
		</if>
		
		<if test='query != null'>
			AND CLASS_NM LIKE '%${query}%'
		</if>	
		
	</select>
	
	
	
	
	<select id="selectDepartmentList" resultMap="department_rm">
		SELECT DEPARTMENT_NO , DEPARTMENT_NAME
		FROM DEPARTMENT
		ORDER BY 1
	</select>
	
	
	
	
	<!-- 수강 신청시 과목 조회  -->
	<select id="selectLecture" resultMap="class_rm">
	SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM,
		CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME,CLASS_MAX,
        (SELECT COUNT(*) FROM LECTURE Z
            WHERE A.CLASS_NO = Z.CLASS_NO) LECTURE_COUNT,
		(SELECT COUNT(*) FROM LECTURE R
			WHERE R.MEMBER_NO = #{memberNo}
			AND R.CLASS_NO = A.CLASS_NO) LECTURE_FL
	FROM CLASS A
	JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
	JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
	
	WHERE A.DEPARTMENT_NO = #{departmentNo}
	
	AND CLASS_GRADE = #{memberGrade}
	AND CLASS_TERM = #{memberTerm}
	
	ORDER BY 1
		
	</select>
	
	<!-- 수강 신청 비동기 과목 조회  -->
	<select id="selectLecture_search" resultMap="class_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM,
		CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME,CLASS_MAX,
        (SELECT COUNT(*) FROM LECTURE Z
            WHERE A.CLASS_NO = Z.CLASS_NO) LECTURE_COUNT,
		(SELECT COUNT(*) FROM LECTURE R
			WHERE R.MEMBER_NO = #{memberNo}
			AND R.CLASS_NO = A.CLASS_NO) LECTURE_FL
		FROM CLASS A
		JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
		JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
		
		WHERE CLASS_NM IS NOT NULL
		
		<choose>
			<when test='major != "0"'>
				AND A.DEPARTMENT_NO = #{major}
			</when>
		</choose>

		<if test='grade != "0"'>
			AND CLASS_GRADE = #{grade}
		</if>

		<if test='step != "0"'>
			AND CLASS_TERM = #{step}
		</if>

		<if test='type != "0"'>
			AND CLASS_POINT = #{type}
		</if>
		
		<if test='query != null'>
			AND CLASS_NM LIKE '%${query}%'
		</if>
		ORDER BY 1	
		
	</select>
	
	
	
	
	<insert id="insertMyClass" parameterType="map">
		INSERT INTO LECTURE VALUES( #{classNo} , #{memberNo} , DEFAULT ,
		 	(SELECT MEMBER_GRADE FROM MEMBER WHERE MEMBER_NO = #{memberNo}) ,
		 	(SELECT MEMBER_TERM FROM MEMBER WHERE MEMBER_NO = #{memberNo}) )
	</insert>
	
	<select id="selectMyClasses" resultMap="class_rm">
		SELECT A.CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM, CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, C.MEMBER_NAME, CLASS_MAX,
        (SELECT COUNT(*) FROM LECTURE Z
            WHERE A.CLASS_NO = Z.CLASS_NO) LECTURE_COUNT,
        (SELECT COUNT(*) FROM LECTURE R
		    WHERE R.MEMBER_NO = #{memberNo}
		    AND R.CLASS_NO = A.CLASS_NO) LECTURE_FL
	    FROM CLASS A
	    JOIN DEPARTMENT B  ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
	    JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
	    JOIN LECTURE L ON (L.CLASS_NO = A.CLASS_NO)
	    
	    <!-- WHERE A.DEPARTMENT_NO = #{departmentNo} -->
	    
	    WHERE L.LECTURE_GRADE = #{memberGrade}
		AND L.LECTURE_TERM = #{memberTerm}
		
	    AND L.MEMBER_NO = #{memberNo}
	    
	    ORDER BY 1
		
	</select>

	<delete id="deleteMyClass" parameterType="map">
		
		DELETE LECTURE
		
		WHERE CLASS_NO = #{classNo}
		
		AND LECTURE_GRADE = (SELECT MEMBER_GRADE FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		AND LECTURE_TERM = (SELECT MEMBER_TERM FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		
		AND MEMBER_NO = #{memberNo}
	
	</delete>
	
	<select id="checkClassMax" resultType="_int">
		SELECT COUNT(*)
		FROM CLASS A
		WHERE CLASS_MAX > (SELECT COUNT(*) FROM LECTURE Z
							WHERE A.CLASS_NO = Z.CLASS_NO)
		AND A.CLASS_NO = #{classNo}
	</select>
	
	<select id="selectTaskList" resultMap="class_rm">
		SELECT A.CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM, DEPARTMENT_NAME, C.MEMBER_NAME, 
        TASK_ROUTE, TO_CHAR(TASK_DATE, 'YYYY-MM-DD') AS TASK_DATE, T.TASK_NO ,
        F.FILE_PATH||F.FILE_RENAME AS FILE_PATH, FILE_NAME     
	    FROM CLASS A
	    JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
	    JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
	    JOIN LECTURE L ON (L.CLASS_NO = A.CLASS_NO)
        JOIN TASK T ON (T.CLASS_NO = A.CLASS_NO)
        
        LEFT JOIN FILEZIP F ON (T.TASK_NO = F.TASK_NO)
	    
	    WHERE A.DEPARTMENT_NO = (SELECT DEPARTMENT_NO FROM MEMBER WHERE MEMBER_NO = #{memberNo})
	    
	    AND L.LECTURE_GRADE = (SELECT MEMBER_GRADE FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		AND L.LECTURE_TERM = (SELECT MEMBER_TERM FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		AND L.MEMBER_NO = #{memberNo}
	    
        AND T.TASK_NO IS NOT NULL
                
	    ORDER BY 1
	
	</select>
	
	<select id="selectTask" resultType="_int">
		SELECT COUNT(*)
		FROM TASK T
		JOIN FILEZIP F ON (T.TASK_NO = F.TASK_NO)
		
		WHERE F.TASK_NO = #{taskNo}
		AND F.MEMBER_NO = #{memberNo}
	
	</select>
	
	<insert id="insertTask" parameterType="Task">
	
		INSERT INTO FILEZIP VALUES
		(SEQ_FILE_NO.NEXTVAL, #{filePath}, #{fileName}, #{fileRename}, 5,#{memberNo},#{taskNo})
	
	</insert>
	
	<update id="updateTask" parameterType="Task">
		
		UPDATE FILEZIP 
		SET FILE_PATH = #{filePath}
		,FILE_NAME = #{fileName}
		,FILE_RENAME = #{fileRename}
		
		WHERE TASK_NO = #{taskNo}
		AND MEMBER_NO = #{memberNo}
	
	</update>


	<!-- 성적 조회 -->
	<select id="selectScore" 	resultMap="lecture_rm">
		SELECT DISTINCT LECTURE_GRADE,LECTURE_TERM,CLASS_NM,CLASS_POINT,LECTURE_POINT,
			(CASE CLASS_POINT
				WHEN 3 THEN '전공'
				ELSE '교양'
				END
			) AS CLASS_TYPE,
		(CASE LECTURE_POINT
			WHEN -1 THEN '미부여'
			WHEN 0 THEN 'F'
			WHEN 1 THEN 'D'
			WHEN 2 THEN 'C'
			WHEN 3 THEN 'B'
			WHEN 4 THEN 'A'
			ELSE 'NONE'
			END
		) AS REAL_POINT
		,(CASE  WHEN (SELECT CLASS_RATE_NO FROM CLASS_RATE R WHERE R.CLASS_NO = C.CLASS_NO) IS NOT NULL  THEN 'Y' ELSE 'N'  END) AS RATE_FL
		, C.CLASS_NO AS CLASS_NO
		, MEMBER_NAME
		FROM LECTURE L
		JOIN CLASS C ON (L.CLASS_NO = C.CLASS_NO)
		JOIN MEMBER M ON (M.MEMBER_NO = C.MEMBER_NO)
		LEFT JOIN CLASS_RATE R ON (L.MEMBER_NO = R.MEMBER_NO)
		WHERE L.MEMBER_NO = #{memberNo}
		ORDER BY CLASS_NO
	</select>
	
	<!-- 학적 변동 신청 내역 조회 -->
	<select id="selectRequest" resultMap="request_rm">
		SELECT REQUEST_NO,
		    (CASE REQUEST_TYPE
		        WHEN 'Y' THEN '휴학 신청'
		        WHEN 'N' THEN '복학 신청'
		        WHEN 'D' THEN '자퇴 신청'
		    ELSE 'NONE'
		    END) AS REQUEST_TYPE
		    , REQUEST_REASON,
		    (CASE WHEN 
		        CONFIRM_NO LIKE 
		        '02-%' THEN '교수 승인'
		       WHEN
		        CONFIRM_NO LIKE 
		        '03-%' THEN '처리 완료'         
		       WHEN 
		       CONFIRM_NO IS NULL THEN '승인 대기중'
        		ELSE '반려'  
		    END) AS REQUEST_ST , 
		    (SELECT MEMBER_NAME
		    FROM MEMBER
		    WHERE MEMBER_NO = R.CONFIRM_NO) AS CONFIRM_NO
		FROM REQUEST R
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 학적 변동 신청  -->
	<insert id="insertRequest">
		INSERT INTO
		REQUEST VALUES(SEQ_REQ_NO.NEXTVAL,
		#{reqType},#{reqReason},#{memberNo}, NULL)
			
	</insert>
	
	
	<update id="changeProfile">
		UPDATE MEMBER
		SET MEMBER_PROFILE = #{memberProfile}
		WHERE MEMBER_NO = #{memberNo}
	
	</update>
	
	
	<update id="deleteProfile">
		UPDATE MEMBER
		SET MEMBER_PROFILE = null
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="updateInfo">
		UPDATE MEMBER
		SET MEMBER_EMAIL = #{memberEmail}
		,MEMBER_ADDR = #{memberAddr}
		,MEMBER_PHONE = #{memberPhone}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectClassName" resultType="String">
		SELECT CLASS_NM
		FROM CLASS
		WHERE CLASS_NO = #{string}
	</select>
	
	<insert id="insertRate">
		INSERT INTO CLASS_RATE
		VALUES(SEQ_RATE_NO.NEXTVAL,#{content},#{like},#{classNo},#{memberNo})
	</insert>
	

</mapper>
