<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="collegianMapper">

	<resultMap type="Class" id="class_rm">

		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="classNo" column="CLASS_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="className" column="CLASS_NM" />
		<result property="classPoint" column="CLASS_POINT" />
		<result property="classMax" column="CLASS_MAX" />
		<result property="classGrade" column="CLASS_GRADE" />
		<result property="classTrem" column="CLASS_TREM" />
		<result property="classDay" column="CLASS_DAY" />
		<result property="classStart" column="CLASS_START" />
		<result property="classEnd" column="CLASS_END" />

		<result property="departmentNo" column="DEPARTMENT_NO" />
		<result property="departmentName" column="DEPARTMENT_NAME" />

		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		
		<result property="lectureFL" column="LECTURE_FL" />
		<result property="lectureCount" column="LECTURE_COUNT" />

		<result property="taskRoute" column="TASK_ROUTE" />
		<result property="taskDate" column="TASK_DATE" />
		<result property="taskNo" column="TASK_NO" />
		
		
		
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>

	</resultMap>
	
	
	<resultMap type="Task" id="Task_rm">
		<id property="fileNo" column="FILE_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileRename" column="FILE_RENAME"/>
		<result property="fkindNo" column="FKIND_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="taskNo" column="TASK_NO"/>
	
	</resultMap>
	
	<resultMap type="Department" id="department_rm">
	
		<id property="departmentNo" column="DEPARTMENT_NO"/>
		<result property="departmentName"  column="DEPARTMENT_NAME"/>	
			
	</resultMap>
	

	<!-- 교과목 수 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM CLASS
		WHERE DEPARTMENT_NO = #{departmentNo}
		AND CLASS_GRADE = #{memberGrade}
		AND CLASS_TREM = #{memberTerm}
	</select>

	<!-- 교과목 조회 결과 -->
	<select id="selectClassList" resultMap="class_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TREM, CLASS_DAY,
		CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME
		FROM CLASS A
		JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CLASS_GRADE = #{memberGrade}
		AND CLASS_TREM =#{memberTerm}
		AND A.DEPARTMENT_NO = #{departmentNo}
	</select>

	<select id="getListCount_search" resultType="_int">
		SELECT COUNT(*) FROM CLASS

		WHERE CLASS_NM IS NOT NULL

		<choose>
			<when test='major != "0"'>
				AND DEPARTMENT_NO = #{major}
			</when>
		</choose>

		<if test='grade != "0"'>
			AND CLASS_GRADE = #{grade}
		</if>

		<if test='step != "0"'>
			AND CLASS_TREM = #{step}
		</if>

		<if test='type != "0"'>
			AND CLASS_POINT = #{type}
		</if>
		
		<if test='query != null'>
			AND CLASS_NM LIKE '%${query}%'
		</if>		

	</select>

	<select id="selectClassList_search" resultMap="class_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TREM,
		CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME
		FROM CLASS A
		JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CLASS_NM IS NOT NULL
		<choose>
			<when test='major != "0"'>
				AND A.DEPARTMENT_NO = #{major}
			</when>
		</choose>

		<if test='grade != "0"'>
			AND CLASS_GRADE = #{grade}
		</if>

		<if test='step != "0"'>
			AND CLASS_TREM = #{step}
		</if>

		<if test='type != "0"'>
			AND CLASS_POINT = #{type}
		</if>
		
		<if test='query != null'>
			AND CLASS_NM LIKE '%${query}%'
		</if>	
		
	</select>
	
	<select id="selectDepartmentList" resultMap="department_rm">
		SELECT DEPARTMENT_NO , DEPARTMENT_NAME
		FROM DEPARTMENT
		ORDER BY 1
	</select>
	
	<!-- 수강 신청 조회  -->
	<select id="selectLecture" resultMap="class_rm">
	SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TREM,
		CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME,CLASS_MAX,
        (SELECT COUNT(*) FROM LECTURE Z
            WHERE A.CLASS_NO = Z.CLASS_NO) LECTURE_COUNT,
		(SELECT COUNT(*) FROM LECTURE R
			WHERE R.MEMBER_NO = #{memberNo}
			AND R.CLASS_NO = A.CLASS_NO) LECTURE_FL
	FROM CLASS A
	JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
	JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
	
	WHERE A.DEPARTMENT_NO = #{departmentNo}
	
	AND CLASS_GRADE = #{memberGrade}
	AND CLASS_TREM = #{memberTerm}
	
	ORDER BY 1
		
	</select>
	
	<insert id="insertMyClass" parameterType="map">
		INSERT INTO LECTURE VALUES( #{classNo} , #{memberNo} , DEFAULT ,
		 	(SELECT MEMBER_GRADE FROM MEMBER WHERE MEMBER_NO = #{memberNo}) ,
		 	(SELECT MEMBER_TERM FROM MEMBER WHERE MEMBER_NO = #{memberNo}) )
	</insert>
	
	<select id="selectMyClasses" resultMap="class_rm">
		SELECT A.CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TREM, CLASS_DAY, CLASS_START, CLASS_END, DEPARTMENT_NAME, C.MEMBER_NAME, CLASS_MAX,
        (SELECT COUNT(*) FROM LECTURE Z
            WHERE A.CLASS_NO = Z.CLASS_NO) LECTURE_COUNT,
        (SELECT COUNT(*) FROM LECTURE R
		    WHERE R.MEMBER_NO = #{memberNo}
		    AND R.CLASS_NO = A.CLASS_NO) LECTURE_FL
	    FROM CLASS A
	    JOIN DEPARTMENT B  ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
	    JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
	    JOIN LECTURE L ON (L.CLASS_NO = A.CLASS_NO)
	    
	    WHERE A.DEPARTMENT_NO = #{departmentNo}
	    
	    AND L.LECTURE_GRADE = #{memberGrade}
		AND L.LECTURE_TERM = #{memberTerm}
		
	    AND L.MEMBER_NO = #{memberNo}
	    
	    ORDER BY 1
		
	</select>

	<delete id="deleteMyClass" parameterType="map">
		
		DELETE LECTURE
		
		WHERE CLASS_NO = #{classNo}
		
		AND LECTURE_GRADE = (SELECT MEMBER_GRADE FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		AND LECTURE_TERM = (SELECT MEMBER_TERM FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		
		AND MEMBER_NO = #{memberNo}
	
	</delete>
	
	<select id="checkClassMax" resultType="_int">
		SELECT COUNT(*)
		FROM CLASS A
		WHERE CLASS_MAX > (SELECT COUNT(*) FROM LECTURE Z
							WHERE A.CLASS_NO = Z.CLASS_NO)
		AND A.CLASS_NO = #{classNo}
	</select>
	
	<select id="selectTaskList" resultMap="class_rm">
		SELECT A.CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TREM, DEPARTMENT_NAME, C.MEMBER_NAME, 
        TASK_ROUTE, TO_CHAR(TASK_DATE, 'YYYY-MM-DD') AS TASK_DATE, T.TASK_NO ,
        F.FILE_PATH||F.FILE_RENAME AS FILE_PATH, FILE_NAME     
	    FROM CLASS A
	    JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
	    JOIN MEMBER C ON (C.MEMBER_NO = A.MEMBER_NO)
	    JOIN LECTURE L ON (L.CLASS_NO = A.CLASS_NO)
        JOIN TASK T ON (T.CLASS_NO = A.CLASS_NO)
        
        LEFT JOIN FILEZIP F ON (T.TASK_NO = F.TASK_NO)
	    
	    WHERE A.DEPARTMENT_NO = (SELECT DEPARTMENT_NO FROM MEMBER WHERE MEMBER_NO = #{memberNo})
	    
	    AND L.LECTURE_GRADE = (SELECT MEMBER_GRADE FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		AND L.LECTURE_TERM = (SELECT MEMBER_TERM FROM MEMBER WHERE MEMBER_NO = #{memberNo})
		AND L.MEMBER_NO = #{memberNo}
	    
        AND T.TASK_NO IS NOT NULL
                
	    ORDER BY 1
	
	</select>
	
	<select id="selectTask" resultType="_int">
		SELECT COUNT(*)
		FROM TASK T
		JOIN FILEZIP F ON (T.TASK_NO = F.TASK_NO)
		
		WHERE F.TASK_NO = #{taskNo}
		AND F.MEMBER_NO = #{memberNo}
	
	</select>
	
	<insert id="insertTask" parameterType="Task">
	
		INSERT INTO FILEZIP VALUES
		(SEQ_FILE_ZIP_NO.NEXTVAL, #{filePath}, #{fileName}, #{fileRename}, 5,#{memberNo},#{taskNo})
	
	</insert>
	
	<update id="updateTask" parameterType="Task">
		
		UPDATE FILEZIP 
		SET FILE_PATH = #{filePath}
		,FILE_NAME = #{fileName}
		,FILE_RENAME = #{fileRename}
		
		WHERE TASK_NO = #{taskNo}
		AND MEMBER_NO = #{memberNo}
	
	</update>


</mapper>
