<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
   
      <!-- DB의 기본 키(복합키면 여러 개 작성) -->
      <id property="memberNo" column="MEMBER_NO" />

      <!-- DB의 일반 컬럼들 -->
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberAddr" column="MEMBER_ADDR" />
      <result property="memberEmail" column="MEMBER_EMAIL" />
      <result property="memberPhone" column="MEMBER_PHONE" />
      <result property="memberGen" column="MEMBER_GEN" />
      <result property="memberDate" column="MEMBER_DATE" />
      <result property="memberGrade" column="MEMBER_GRADE" />
      <result property="memberTerm" column="MEMBER_TERM" />
      <result property="memberStatus" column="MEMBER_STATUS" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberProfile" column="MEMBER_PROFILE" />
      <result property="memberSsn" column="MEMBER_SSN" />
      
      
      <result property="departmentNo" column="DEPARTMENT_NO" />
      <result property="departmentName" column="DEPARTMENT_NAME" />
      <result property="departmentPrice" column="DEPARTMENT_Price" />
      
   </resultMap>
   
   
   <select id="memberListInfo" resultMap="member_rm">
   
   		SELECT MEMBER_NO, MEMBER_PW, MEMBER_ADDR, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_GEN, MEMBER_DATE
        , MEMBER_GRADE, MEMBER_TERM, MEMBER_STATUS, MEMBER_NAME, MEMBER_PROFILE, MEMBER_SSN, M.DEPARTMENT_NO
        , D.DEPARTMENT_NAME
		FROM MEMBER M
		JOIN DEPARTMENT D ON M.DEPARTMENT_NO = D.DEPARTMENT_NO
   
   </select>


	<update id="signUp">
		
		UPDATE MEMBER 
		SET MEMBER_PW = #{memberPw}, 
		    MEMBER_ADDR = #{memberAddr}, 
		    MEMBER_EMAIL = #{memberEmail}, 
		    MEMBER_PHONE = #{memberPhone},
		    MEMBER_GEN = #{memberGen}, 
		    MEMBER_DATE = SYSDATE, 
		    MEMBER_NAME = #{memberName},
		    MEMBER_PROFILE = '/resources/images/background/user.png'
		WHERE MEMBER_NO = #{memberNo}
		
	</update>
	
	<!-- 로그인 -->
	<select id="login" parameterType="Member" resultMap="member_rm">
		SELECT 
		    M.MEMBER_NO,
		    MEMBER_ADDR,
		    MEMBER_EMAIL,
		    MEMBER_PHONE,
		    MEMBER_GEN,
		    TO_CHAR(MEMBER_DATE, 'YYYY"년" MM"월" DD"일"') AS MEMBER_DATE,
		    MEMBER_GRADE,
		    MEMBER_TERM,
		    MEMBER_STATUS,
		    MEMBER_NAME,
		    MEMBER_PROFILE,
		    MEMBER_SSN,
		    D.DEPARTMENT_NO,
		    DEPARTMENT_NAME,
		    DEPARTMENT_PRICE
		FROM MEMBER M, DEPARTMENT D
		WHERE D.DEPARTMENT_NO(+) = M.DEPARTMENT_NO
		AND MEMBER_NO = #{memberNo}
		AND MEMBER_PW = #{memberPw}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findMemberId" parameterType="Member" resultType="string">
		SELECT MEMBER_NO FROM MEMBER
		WHERE MEMBER_NAME = #{memberName} 
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findMemberPw" resultType="string">
		SELECT MEMBER_EMAIL FROM MEMBER
		WHERE MEMBER_NAME = #{memberName} 
		AND MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 임시비밀번호 업데이트 -->
	<update id="updateMemberPw">
		UPDATE MEMBER SET
		MEMBER_PW = #{authKey}
		WHERE MEMBER_EMAIL = #{email}
	</update>
	
	<!-- 담당교수 목록 조회 -->
	<select id="searchProfessor" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_NAME FROM MEMBER
		WHERE MEMBER_NO LIKE '02%'
		AND DEPARTMENT_NO = #{deptCode}
		ORDER BY 2
	</select>
	
	
	<select id="selectMemberList"  resultMap="member_rm">
		SELECT * FROM MEMBER
		WHERE DEPARTMENT_NO = #{departmentNo}
		AND MEMBER_NO LIKE '01%' 
	</select>
	
</mapper>
