<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="subjectMapper">

	<resultMap type="Subject" id="subject_rm">
		<id property="classNo" column="CLASS_NO" />
		
		<result property="className" column="CLASS_NM" />
		<result property="classPoint" column="CLASS_POINT" />
		<result property="classMax" column="CLASS_MAX" />
		<result property="classGrade" column="CLASS_GRADE" />
		<result property="classTrem" column="CLASS_TERM" />
		<result property="classDay" column="CLASS_DAY" />
		<result property="classStart" column="CLASS_START" />
		<result property="classEnd" column="CLASS_END" />
		
		<result property="departmentNo" column="DEPARTMENT_NO" />
		<result property="departmentName" column="DEPARTMENT_NAME" />
		<result property="memeberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
	</resultMap>
	
	
	<select id="selectProfessor" resultType="string">
		SELECT MEMBER_NO FROM MEMBER
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_NO LIKE '02%'
		AND DEPARTMENT_NO = #{departmentNo}
	</select>
	
	<insert id="insertSubject" parameterType="Subject" useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="classNo">
			SELECT SEQ_CLASS_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CLASS 
		VALUES(#{classNo},
		        #{className},
		        #{classPoint},
		        #{classMax},
		        #{classGrade},
		        #{classTrem},
		        #{classDay},
		        #{classStart},
		        #{classEnd},
		        #{departmentNo},
		        #{memeberNo}
		        )
	</insert>
	
	<!-- 학과 목록 조회 -->
	<select id="selectDeptCodeList" resultType="map">
		SELECT * FROM 
		DEPARTMENT ORDER BY 1
	</select>
	
	<!-- 담당교수 체크 -->
	<select id="professorCheck" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_NAME = #{professor}
		AND DEPARTMENT_NO = #{deptCode}
		AND MEMBER_NO LIKE '02%'
	</select>
	
	<!-- 교수 강의 시간 체크 -->
	<select id="timeCheck" resultType="_int">
		SELECT COUNT(*) FROM CLASS
		WHERE MEMBER_NO = (SELECT MEMBER_NO FROM MEMBER
		                   WHERE MEMBER_NAME = #{professor})
		AND CLASS_DAY = #{classDay}
		<![CDATA[
			AND ((CLASS_START <= #{classStart} AND CLASS_END >= #{classStart})  OR (CLASS_START <= #{classEnd} AND CLASS_END >= #{classEnd}))
		]]>
	</select>
	
	<!-- 교과목 갯수 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM CLASS
	</select>
	
	<!-- 교과목 조회 결과 -->
	<select id="selectSubjectList" resultMap="subject_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM, CLASS_DAY,
		CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME, A.DEPARTMENT_NO
		FROM CLASS A
		JOIN DEPARTMENT B ON ( A.DEPARTMENT_NO = B.DEPARTMENT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		ORDER BY 1 DESC
	</select>
	
	<!--  교과목 목록 검색 -->
	<select id="getListCount_query" resultType="_int">
		SELECT COUNT(*) FROM CLASS
		WHERE CLASS_NM IS NOT NULL

		<if test='key == "d"'>
			AND DEPARTMENT_NO IN (SELECT DEPARTMENT_NO
								FROM DEPARTMENT
								WHERE DEPARTMENT_NAME LIKE '%${query}%')
		</if>

		<if test='key == "t"'>
			AND CLASS_NM = #{query}
		</if>
		
		<if test='key == "p"'>
			AND MEMBER_NO IN (SELECT MEMBER_NO
							FROM MEMBER
							WHERE MEMBER_NO LIKE '02%'
							AND MEMBER_NAME LIKE '%${query}%')
		</if>
	</select> 
	
	<!-- 검색어가 있을 때 교과목 목록 조회 결과 -->
	<select id="selectSubjectList_query" resultMap="subject_rm">
		SELECT CLASS_NO, CLASS_NM, CLASS_POINT, CLASS_GRADE, CLASS_TERM, CLASS_DAY,
				CLASS_START, CLASS_END, DEPARTMENT_NAME, MEMBER_NAME, C.DEPARTMENT_NO
		FROM CLASS C
		JOIN DEPARTMENT D ON ( C.DEPARTMENT_NO = D.DEPARTMENT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CLASS_NM IS NOT NULL
		
		<if test='key == "d"'>
			AND C.DEPARTMENT_NO IN (SELECT DEPARTMENT_NO
								FROM DEPARTMENT
								WHERE DEPARTMENT_NAME LIKE '%${query}%')
		</if>

		<if test='key == "t"'>
			AND CLASS_NM LIKE '%${query}%'
		</if>
		
		<if test='key == "p"'>
			AND MEMBER_NO IN (SELECT MEMBER_NO
							FROM MEMBER
							WHERE MEMBER_NO LIKE '02%'
							AND MEMBER_NAME LIKE '%${query}%')
		</if>
		ORDER BY 1 DESC
	</select>

	<!-- 교과목 수정 -->
	<update id="updateSubject">
		UPDATE CLASS SET 
		CLASS_NM = #{className},
		CLASS_POINT = #{classPoint},
		CLASS_MAX = #{classMax},
		CLASS_GRADE = #{classGrade},
		CLASS_TERM = #{classTrem},
		CLASS_DAY = #{classDay},
		CLASS_START = #{classStart},
		CLASS_END = #{classEnd},
		DEPARTMENT_NO = #{departmentNo},
		MEMBER_NO = #{memeberNo}
		WHERE CLASS_NO = #{classNo}
	</update>	
	
	<!-- 교과목 삭제 -->
	<delete id="deleteSubject">
		DELETE FROM CLASS
		WHERE CLASS_NO = #{classNo}
	</delete>
	
	<!-- 교수 시간표 조회 -->
	<select id="professorTimeTable" resultMap="subject_rm">
		SELECT CLASS_NM, CLASS_DAY, CLASS_START, CLASS_END 
		FROM CLASS
		WHERE MEMBER_NO = #{memberNo}
	</select>



</mapper>








