<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="subjectMapper">

	<resultMap type="Subject" id="subject_rm">
		<id property="classNo" column="CLASS_NO" />
		
		<result property="className" column="CLASS_NM" />
		<result property="classPoint" column="CLASS_POINT" />
		<result property="classMax" column="CLASS_MAX" />
		<result property="classGrade" column="CLASS_GRADE" />
		<result property="classTrem" column="CLASS_TREM" />
		<result property="classDay" column="CLASS_DAY" />
		<result property="classStart" column="CLASS_START" />
		<result property="classEnd" column="CLASS_END" />
		
		<result property="departmentNo" column="DEPARTMENT_NO" />
		<result property="memeberNo" column="MEMBER_NO" />
	</resultMap>
	
	<select id="selectProfessor" resultType="string">
		SELECT MEMBER_NO FROM MEMBER
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_NO LIKE '02%'
		AND DEPARTMENT_NO = #{departmentNo}
	</select>
	
	<insert id="insertSubject" parameterType="Subject" useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="classNo">
			SELECT SEQ_CLASS_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CLASS 
		VALUES(#{classNo},
		        #{className},
		        #{classPoint},
		        #{classMax},
		        #{classGrade},
		        #{classTrem},
		        #{classDay},
		        #{classStart},
		        #{classEnd},
		        #{departmentNo},
		        #{memeberNo}
		        )
	</insert>



</mapper>








