body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
}

.container > h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    height: 50px;
}

label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
    margin-left: 20px;
}

input[type="text"] {
    width: calc(80% - 160px);
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input[type="text"]:focus{
    border-bottom: 2px solid crimson;
}

input[name="classStart"]{
    width: calc(40% - 160px);
}
input[name="classEnd"]{
    width: calc(40% - 160px);
}


.form-group > select{
    width: 25%;
    height: 35px;

    /* position: relative; */
    /* left: 100px; */

    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-area{
    text-align: right;
}

button{
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
}

.submitBtn{
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.submitBtn::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.submitBtn:hover{
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.submitBtn:hover::before{
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
}

.submitBtn:active{
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

.submitBtn:active::before{
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

.resultSet-area{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    right: 50px;
    display: none;
}

.resultSet-area>p{
    position: absolute;
    z-index: 1002;
    right: 10px;
    width: 10px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}


#resultSet{
    position: relative;
    z-index: 1001;
    background-color: white;
    list-style: none;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
    display: none;
}

#resultSet::-webkit-scrollbar {
    display: none;
}

#resultSet>li{
    padding: 2px 10px;
}

#resultSet>li>b:hover{
    background-color: yellow;
    cursor: pointer;
}

#resultSet>li>span{
    color: #ccc;
    font-weight: normal;
}

/* 시간표 */
.timetable {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    /* display: none; */
}

.timetable table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.timetable th, td {
    width: 130px;
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.timetable th {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.timetable td {
    background-color: #f9f9f9;
}

.timetable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9e9e9;
}


