/* ------------------------------------------------------------------- */
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
   /*  width: 1200px;
    min-height: 1200px;
    margin: auto; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 500px;
}

/* 검색 영역 */
#searchFrm{
    /* position: absolute;
    top: 250px;
    left: 150px;
    padding: 10px; */

    width: 1400px;
    height: 60px;
    margin: 20px 0;

    /* border: 1px solid #ddd; */

    display: flex;
    justify-content: start;

    padding-left: 160px;
    align-items: center;
    text-align: center;
}

/* select 박스 */
#subjectKey{
    width: 130px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    outline: none;
}

#subjectKey:focus{
    border: 2px solid crimson;
}

/* 검색어 input태그 */
#subjectQuery{
    width: 300px;
    height: 40px;
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#subjectQuery:focus{
    border: 2px solid crimson;
}

/* 검색 버튼 */
#searchBtn{
    width: 65px;
    height: 35px;
    margin-left: 10px;
    font-weight: bold;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchBtn:hover{
    background-color: crimson;
    color: white;
}

/* 테이블 영역 */
/* .list-table, th, td { border: 1px solid black; } */
.list-table{
    width: 1080px;
    border-collapse: collapse;
    text-align: center;
}

.list-table>thead{ 
    background-color: crimson;
    color: white;
}

.list-table tr{ height: 60px; }

.list-table > tbody > tr{ border-bottom: 1px solid gray;}

.list-table tr > *:nth-of-type(1){ width: 10%; }
.list-table tr > td:nth-of-type(2){ width: 15%;}
.list-table tr > td:nth-of-type(3){ width: 20%;}
.list-table tr > td:nth-of-type(4){ width: 10%;}
.list-table tr > td:nth-of-type(5){ width: 20%;}
.list-table tr > td:nth-of-type(6){ width: 15%;}
.list-table tr > td:nth-of-type(8){display: none;}

td>button{
    /* width: 100%; */
    /* height: 100%; */
    background-color: white;
    border: 0;
    font-size: 14px;
    font-weight: bold;
}
td>button:hover{
    color: crimson;
    cursor: pointer;
}


/* 페이지네이션영역 */
.pagination{
    margin: 35px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: crimson;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
}

footer{
    width: 100%;
}


/* 과목수정 모달 */
.modal-area{
    position:absolute;
    display: none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    
    background-color: rgba(0,0,0,0.4);
}

.modal_body{
    position:absolute;
    
    /* 모달창 위치 조절 */
    top:30%;
    left:35%;
    

    /* 모달의 가로크기  */
    width:600px;  
    /* 모달의 세로크기  */
    height:500px; 

    text-align: center;

    /* 모달창 배경색 흰색 */
    background-color: rgb(255,255,255); 

    /* 테두리  */
    border-radius:10px;

    /* 테두리 그림자 */
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    /* 모듈창열었을때 위치설정 가운데로  */
    transform:translateY(-50%); 

    z-index: 1000;
}
.modal_body>h2{
    text-align: left;
    padding: 20px;
}

.form-group {
    text-align: start;
    margin : 5px 7px;
    padding: 5px;
}

.form-group > label{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(80% - 160px);
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input[type="text"]:focus{
    border-bottom: 2px solid crimson;
}

input[id="classStart"]{
    width: calc(45% - 160px);
}
input[id="classEnd"]{
    width: calc(45% - 160px);
}

.form-group > select{
    width: 25%;
    height: 30px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

#checkTime{
    width: 100px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    background-color: #ccc;
}
#checkTime:hover{
    background-color: crimson;
}

.btn{
    width: 300px;
    height: 50px;

    position: absolute;
    top: 85%;
    left: 25%;

    border : 1px solid crimson;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: crimson;
    color: white;
}

/* x버튼 */
.close-area {
    padding: 10px 15px;
    display: inline;
    float: right;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
}


#resultSet{
    position: absolute;
    z-index: 1001;
    background-color: white;
    list-style: none;
    width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
    display: none;
}

#resultSet::-webkit-scrollbar {
    display: none;
}

#resultSet>li{
    padding: 2px 10px;
}

#resultSet>li>b:hover{
    background-color: yellow;
    cursor: pointer;
}

#resultSet>li>span{
    color: #ccc;
    font-weight: normal;
}

.resultSet-area>p{
    position: absolute;
    z-index: 1002;
    right: 10px;
    width: 10px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.resultSet-area{
    position: relative;
    width: 300px;
    margin: 0 auto;
    right: 33px;
    display: none;
}