body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    width: 80%;
    margin: auto;
}

.con{
    display: inline-block;
}


/* 제목 */
.dataTitle{
    color: crimson;
    float: left;
    margin: 20px 10px;
    /* border: 1px solid black; */
}

/* 자료실 업로드 */
.write{
    display: inline-block;
    width: 200px;
    height: 50px;
    float: right;
    margin: 15px 10px;
}
.write a{
    display: inline-block;
    border: 1px solid crimson;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    padding-top: 13px;
}



/* 테이블 영역 */
table {
    height: 80%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    
}

.tableHead th{
    background-color: none;
    color: crimson;
    font-size: 20px;
}

.tableHead > th:first-child{
    width: 5%;
}
.tableHead > th:nth-of-type(2){
    width: 45%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    border-right: 0;
    border-left: 0;
}

/* tr */
.tableTr{ 
    transition: 0.2s;
    cursor: pointer;
    height: 10%;
    font-weight: bold;
}
.tableTr:hover{ 
    color: crimson;
}


.pagi{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.pagi ul,li{
    list-style: none;
}

.pagi li {
    display: inline-block;
    border-radius: 15px;
}
.pagi a{
    display: inline-block;
    border: 1px solid crimson;
    border-radius: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    cursor: pointer;
    transition: 0.2s;
}

.pagi a:hover{
    background-color: crimson;
    color: white;
}

/* 자료실 상세 부분 CSS */

/* 제목 */
.detail-title{
    width: 100%;
    border-bottom: 1px solid crimson;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* 수정, 삭제 버튼 */
.detail-button{
    width: 100px;
    height: 40px;
    margin: 20px 15px;
    font-size: 17px;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.detail-button:hover{
    background-color: crimson;
    color: white;
}

.update-btn{
    background-color: white;
}

/* 게시글 내용 */
.detail-content{
    /* background-color: chocolate; */
    min-height: 200px;
}

/* 게시글 내용 머릿 부분 */
.content-header{
    text-align: left;
    position: relative;
}

.content-header > *{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.file-download{
    position: absolute;
    right: 10px;
}

.content-header span:nth-of-type(2){
    font-weight: bold;
}


/* 게시글 내용 */
.content-body{
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}

/* 게시글 제목 작성 부분(input) */
.title-input{
    width: 30%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}

/* 게시글 내용 작성 부분(textarea) */
.content-area{
    width: 100%;
    min-height: 350px;
    border: none;
    border-left: 1px solid crimson;
    border-right: 1px solid crimson;
    outline: none;
    font-size: 20px;
    resize: none;
}