body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    width: 80%;
    margin: auto;
}

.con{
    display: inline-block;
}


/* 제목 */
.dataTitle{
    color: crimson;
    float: left;
    margin: 20px 10px;
}

/* 자료실 업로드 */
.write{
    display: inline-block;
    width: 150px;
    height: 50px;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}
.write a{
    display: inline-block;
    border: 1px solid crimson;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    padding-top: 13px;
}



/* 테이블 영역 */
table {
    height: 80%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    
}

.tableHead > th:first-child{
    width: 5%;
}
.tableHead > th:nth-of-type(2){
    width: 45%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    border-right: 0;
    border-left: 0;
}
th {
    background-color: lightgray;
}

/* tr */
.tableTr{ 
    transition: 0.2s;
    cursor: pointer;
    height: 10%;
    font-weight: bold;
}
.tableTr:hover{ 
    color: crimson;
}