.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 500px;
}

.map-area{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 900px;
    height: 300px;

    border: 1px solid #ddd;
}
.map-area > img{
    width: 900px;
    height: 300px;
}

.info-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 900px;
    height: 100px;

    font-size: 0.8em;

    border: 1px solid #ddd;
}