main{
	 width: 1400px;
    margin: auto;
}


.depart-detail{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.date-con{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.date-con > div{
   margin: 0 15px;
}

.title-con{
    width: 1200px;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    word-break:break-all;
}

.image-con{
    width: 1200px;
    height: 400px;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

.image-con > img{
    width: 100%;
    height: 100%;
}

.content-con{
    width: 1200px;
    height: 400px;
    margin: auto;
    border-bottom: 1px solid black;
    word-break:break-all;
}

.file-button{
    width: 1200px;
    margin: 10px auto;
    display: flex;
}
.file-button > div:nth-of-type(1){
    width: 10%;
    font-size: 16px;
    font-weight: bold;
}

.file-button > div:nth-of-type(2){
    width: 70%;
    color: crimson;
    font-size: 16px;
    font-weight: bold;
}

.file-button > div:nth-of-type(3){
    width: 20%;
}

.button-area{
    width: 1200px;
    height: 80px;
    margin: 20px auto;
}

.button-area > button{
    margin: 0 10px;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.button-area > button:hover{
    background-color: crimson;
    color: white;
    border-radius: 3px;
} 

.reply-con{
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.reply-content-con{
    width: 1000px;
    margin: auto;
    text-align: center;
}

.reply-content-con > textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin-top: 20px;
}

.reply-content-con > button{
    width: 150px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    outline: none;
}

.reply-content-con > button:hover{
    background-color: crimson;
    color: white;
    border-radius: 3px;
}
#reply-area{
    width: 1000px;
    margin: 30px auto;
}


.dat-con{
    width: 1000px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #ddd;
}

.dat-info{
    width: 1000px;
    height: 30px;
    margin: auto;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: end;
}

.dat-info > div {
    margin: 0 10px;
}



.button-container{
    width: 1000px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container > button{
    margin: 0 15px;
    background-color: white;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button-container > button:hover{
    background-color: crimson;
    color: white;
    border-radius: 3px;
}

.replyUpdateCon{
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid crimson;
}

.replyUp , .replyDe{
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 5px 15px;
    font-weight: bold;
}


.replyUp:hover , .replyDe:hover{
    background-color: crimson;
    color: white;
}

.btnArea{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: end;
}