.container{
    width: 1200px;
    margin: auto;
}

/* 공지사항 */

.announcement{
    margin-bottom: 50px;
}

.announcement > h2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}



/* 제목 */

.title{

    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
}

.title p, .title span {
    margin-right: 10px; /* 요소들 사이의 간격을 조정합니다. */
    font-size: 20px;
    margin-bottom: 10px;
    
}

.title p{
    width: 20%;
    text-align: center;
    font-weight: bold;
    
}



/* 구분 */

.writer{
    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    margin-top: 10px;
}

.writer p{
    width: 20%;
    text-align: center;
    font-weight: bold;
    
}

.writer p, .writer span {
    margin-right: 10px; /* 요소들 사이의 간격을 조정합니다. */
    font-size: 20px;
    margin-bottom: 10px;
}

/* 내용출력 */

.content{
    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
}

.content p{
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.content p, .content span{
    margin-right: 10px; /* 요소들 사이의 간격을 조정합니다. */
}

.content span{
    width: 80%;
    height: 400px;
    margin: 10px 0;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

/* 첨부파일 */

.uploadFile{
    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    margin-top: 10px;

}


.uploadFile p{
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.uploadFile span{
    font-size: 15px;
    cursor: pointer;
}

.uploadFile input{
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e1e1e2;
}

.uploadFile p, .uploadFile span, .uploadFile input, .uploadFile img{
    margin-bottom: 10px;
}




/* 댓글 */
.comment{
    display: flex;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    margin-top: 10px;
}

.comment p{
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.comment p, .comment input, .comment button{
    margin-right: 10px; /* 요소들 사이의 간격을 조정합니다. */
    margin-bottom: 10px;
}

.comment input{
    width: 70%;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 18px;
}

.comment button{
    width: 10%;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e1e1e2;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment button:hover {
    background-color: #ccc;
}




/* 버튼 */

.noticeBtn{
    text-align: center;
}

.noticeBtn button {
    display: inline-block; /* 요소들을 인라인 블록 요소로 표시하여 일렬로 정렬 */
    margin: 20px 5px; /* 요소 사이의 간격을 좁게 만듭니다. */

    width: 100px; /* Set the width of the buttons */
    height: 40px; /* Set the height of the buttons */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e1e1e2;
    cursor: pointer;
    transition: background-color 0.5s;
}



.noticeBtn button:hover {
    background-color: #ccc;
    font-weight: bold;
}

#a listBtn {
    display: inline-block; /* Ensures the element respects width and height properties */
    width: 100px;
    height: 40px;
    border: 1px solid #e1e1e2 ;
    background-color: #e1e1e2;
    /* Additional styling if needed */
}

