<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!--SqlSessionTemplate생성시적용될설정작성부분 -->
	<settings>
		<!--insert 또는update에사용되는값중null이있을경우에대한설정 해당설정이없을경우-> SQL 구문에null 포함되어있다는오류발생. 
			해상설정이있을경우-> 오류를발생시키지않고NULL 값을컬럼에대입 단, NOT NULL 제약조건이없는컬럼에만가능함. ** value 설정시NULL 
			은반드시대문자로작성(소문자null은오류가발생함) -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!--별칭작성부분 -->
	<!--VO클래스의패키지명+ 클래스명작성하는것이불편하기때문에짧은별칭부여 -->
	<typeAliases>
		<typeAlias type="kh.finalpro.project.student.model.dto.Student" alias="Student" />
		<typeAlias type="kh.finalpro.project.main.model.dto.Member" alias="Member" />
		<typeAlias type="kh.finalpro.project.board.model.dto.Board" alias="Board" />
		<typeAlias type="kh.finalpro.project.board.model.dto.Reply" alias="Reply" />
		<typeAlias type="kh.finalpro.project.board.model.dto.BoardFile" alias="BoardFile" />
		<typeAlias type="kh.finalpro.project.admin.model.dto.Subject" alias="Subject" />
		<typeAlias type="kh.finalpro.project.collegian.model.dto.Class" alias="Class" />

	</typeAliases>
	
	<!--mapper 파일(SQL 작성되는파일) 위치등록부분 -->
	<mappers>
		<mapper resource="/mappers/student-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/subject-mapper.xml" />
		<mapper resource="/mappers/collegian-mapper.xml" />
	</mappers>		

</configuration>





