.mainContainer{
    display: flex;
    flex-direction: column;
}
/* 첫번째 줄(검색, 학과, 학과선택) */
.row-area{
    width: 1300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto 0; */
    margin-top: 40px;
}

/* 검색 영역 */
.search-area{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 50px;
    
}
/* 검색 폼 태그 */
#searchFrm{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 검색 영역 select 박스 */
#search{
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    border-left: 1px solid crimson;
    border-right: 0px solid white;
    width: 80px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    padding-left: 20px;
}

/* 돋보기 보양 */
#searchFrm > :nth-child(2){
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: crimson;

    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
}

/* 검색창 */
#searchFrm > :nth-child(3) > input{
    width: 200px;
    height: 40px;
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    border-left: 0px solid white;
    border-right: 0px solid white;
    padding: 0 5px;
}

/* 검색 버튼 */
#searchFrm > :nth-child(4) > button{
    width: 65px;
    height: 40px;
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    border-right: 1px solid crimson;
    border-left: 0px solid white;
    border-radius: 0 10px 10px 0;
    padding: 0 5px;
    background-color: white;
    cursor: pointer;
    color: crimson;
    font-size: 1.0em;
    font-weight: bold;
}


/* 학과 글씨 영역 */
.object-area{
    width: 600px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1em;
    font-weight: bold;
}

/* 학과 선택 영역 */
.object-select-area{
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* 학과 선택 select 박스 */
.object-select-area > select{
    border: 1px solid crimson;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;

    margin-right: -90px;
}

#searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    width: 120px;
    height: 40px;
    border-radius: 10px;

    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 0.9em;

    /* margin-right: -100px; */
    margin-left: 60px;

    cursor: pointer;

}

#searchBtn:hover{
    font-weight: bold;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    text-decoration: underline;
}
#searchBtn:active{
    border: 2px solid gray;
    color: crimson;
}

/* 스크롤바 제거 */
body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
/* 성적조회 영역 */
.grade-area{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    /* border: 1px solid #ddd; */
    width: 1300px;
    height: 400px;
    /* cursor: n-resize; */
    cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdQb3J0PSIxMCAxMCAyMCAyMCI+PHBhdGggZD0ibTMgMTJjMy4zMTQgMCA2LjY4Ni0xLjA0MyA5LjA5NC0yLjgxNmwtMS40MTQtMS40MTQgLTUuNjE0IDUuNjE0eiIgZmlsbD0iIzAwMCI+PC9wYXRoPjwvc3ZnPg=="), auto;
}
  
.grade-area > :nth-child(2){
    width: 1300px;

    overflow: auto;
    padding: 0 5px;
}


/* 목차영역 */
.grade-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 목차 하나씩 */
.grade-title > div{
    width: 184.5px;
    height: 30px;

    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.05em;
    font-weight: bold;
}



/* 정보영역 */
.grade-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 정보 하나씩 */
.grade-content > div{
    width: 190px;
    height: 30px;

    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
