/* .mainContainer{
    border: 1px solid #ddd;
} */
/* 학생 정보 영역 */
.student-area{
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-right: 15px;
    
    /* border: 1px solid crimson; */
}

/* 학생 재적 상태 */
.student-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 10px;
    padding-left: 15px;
    padding: 0 50px;
    padding-bottom: 10px;
}

/* 학생 정보 */
.student-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 표 영역 */
.student-info-area{
    width: 1000px;
    max-height: 550px;
    overflow-y: auto;
}

/* 학생 정보 값 해드 */
.student-info-value-name{
    display: flex;
}
/* 학생 정보 값 해드 각 영역 */
.student-info-value-name > div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 27px;
    border: 1px solid gray;
    font-size: 1.05em;
    font-weight: bold;

    margin-top: 15px;
}

/* 학생 정보 값 */
.student-info-value{
    display: flex;
}
.student-info-value > :nth-child(1):hover{
    text-decoration: underline;
    cursor: pointer;
    color: crimson;
}

/* 학생 정보 값 각 영역 */
.student-info-value > div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 27px;
    border: 1px solid #ddd;
    font-size: 0.85em;

    white-space: nowrap;
    overflow: hidden;

}

.search-area{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-key{
    text-align: center;
    width: 150px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 10px;
}

#search-query{
    padding-left: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    width: 300px;
    height: 30px;
}

#studentSearch > button{
    width: 70px;
    height: 30px;
    border: 2px solid gray;
    margin-top: 5px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

















/* 모달 스타일 */
.modal {
    display: none; /* 모달 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 다른 요소들 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 모달 내용이 너무 많아서 화면을 벗어날 경우 스크롤 허용 */
    background-color: rgba(0,0,0,0.5); /* 배경색과 투명도 */
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    background-color: whitesmoke;
    margin: 15% auto; /* 모달 콘텐츠를 화면 중앙에 배치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* 최대 너비 지정 */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.418);
}

/* 모달 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* 강의 정보 스타일 */
.lecture-info {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

#lectureInfo > :nth-child(n){
    color: black;
}
