html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 컨테이너 수정 */
.mainContainer{
    display: flex;
    justify-content: start;
    text-align: left;
}

.main{
    width: 100%;
    margin: 20px auto;
    height: 60%;
    position: relative;
    text-align: left;
}

.title{
    margin: 0;
    padding: 20px 0;
}

.task-title{
    position: relative;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    margin-bottom: 10px;
    padding: 10px 0;
}

.task-title > h1{
    display: inline-block;
    margin-left: 20px;
    
}

.task-title > select{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    width: 150px;
}

#floatingTextarea2{
    height: 300px;
    resize: none;
}

.remove-space{
    display: inline-block;
    width: 200px;
    margin-top: 30px;
}

.right-space{
    text-align: right;
    float: right;
    margin-right: 20px;
}

.borderCla{
    padding: 10px 0;
}