html, body{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
}

body{ /* 드래그 막기*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.mainContainer{
    display: block;
    text-align: left;
}

.headerAll{
    height: 110px;
}


main{
    height: 100%;
}

h1{
    margin-top: 20px;
}

/* 과제등록 옆 + 버튼 */
.title > span:last-child{
    float: right;
    margin-right: 15px;
    font-size: 40px;
    cursor: pointer;
    z-index: 999;
}

/* 메인 시작 */
.container{
    width: 80%;
    border: 2px solid crimson;
    margin: 0 auto;
}

/* 테이블 */
.tesk-table{
    width: 100%;
    border-collapse: inherit;
    text-align: center;
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    margin: 10px auto;
}


/* 현 상태 저장 */
.save{
    float: right;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.save:hover{
    font-size: 22px;
    font-weight: bold;
}

/* input[type='date'] 속성 */

.date-input-container input {
    margin: 0 auto;
    width: 35%;
    position: relative;
  }

  ::-webkit-calendar-picker-indicator {
      position: absolute;
      right: -10px;
      top: 0;
      transform: translateX(-10px);
      padding-left: 3000px;
      height: 100%;
  }

/* 업로드 삭제 버튼 */
.up-x > i{
    float: right;
    margin-top: 3px;
    margin-right: 2px;
}
.up-x i{
    cursor: pointer;
}

/* 파일 css */
input[type='file']{
    display: none;
} 

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1400px;
}

.tesk-table th:nth-of-type(3){width: 20%;}
.tesk-table th:nth-of-type(4){width: 10%;}
.tesk-table th:nth-of-type(5){width: 30%;}

button[type='button']{
    font-size: 15px;
    border: 1px solid crimson;
    border-radius: 10px;
    background-color: white;
    padding: 3px;
}