body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* header {
    height: 20%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    height: 10%;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 50px;
} */
main {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.request-reason{
    width: 100%;
    height: 50px;
    border: 1px solid crimson;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* 버튼 css 테스트 */
  /* p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  } */
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

/* 저장 버튼 */
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
/* 테이블 */
table tr, th, td{
    border: none;
}

table{
    border-top: 2px solid crimson;
    border-bottom: 1px solid crimson;
    border-radius: 10px;
}

th{
    font-size: 20px;
    text-align: center;
}

td{
    font-size: 18px;
}

#student-select{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

#student-select:hover{
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
    transition:800ms ease all;
}

#student-select  option{
    cursor: pointer;

}

/* 수강 과목 조회 결과 없을 때 */
td[colspan="3"]{
    padding: 10px;
    font-size: 18px;
}